/* Button CSS */

.timer-button {
  font-family: "Cinzel Decorative", sans-serif;
  margin: 2vh;
  height: 5vh;
  width: 10vh;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border-radius: 1em;
  transition-duration: 1s;
}

.timer-button:hover {
  border-radius: 0%;
  background-color: white;
  color: black;
}

.marcus-aurelius-button {
  background-color: white;
  font-family: "Cinzel Decorative", sans-serif;
  background-color: darkred;
  color: white;
  border-radius: 5vh;
  font-size: 2vh;
  height: 8vh;
  width: 65vh;
  cursor: help;
  transition-duration: 1s;
  border: 1px solid darkred;
  transition-duration: 1s ease;
}

.marcus-aurelius-button:hover {
  border-radius: 0%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition-duration: 1s ease;
}

.pliny-button {
  background-color: darkblue;
  gap: 1em;
  cursor: help;
  transition: transform 1s ease;

  font-size: 1.2em;
  font-family: "Cinzel Decorative", sans-serif;
  color: white;
  border: 2em;
  border-radius: 5vh;
  font-size: 2vh;
  height: 8vh;
  width: 65vh;
  cursor: help;
  transition-duration: 1s;
  border: 1px solid darkblue;
}

.pliny-button:hover {
  border-radius: 0%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.todo-item button {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 1em;
  padding: 5px 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: transparent;
  border-radius: 0%;
  color: black;
  border: 1px solid black;
}
