/* Button CSS */

.timer-button {
  font-family: "Cinzel Decorative", sans-serif;
  margin: 2vh;
  height: 5vh;
  width: 10vh;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border-radius: 1em;
  transition-duration: 1s;
}

.timer-button:hover {
  border-radius: 0%;
  background-color: white;
  color: black;
}

.marcus-aurelius-button {
  background-color: white;
  font-family: "Cinzel Decorative", sans-serif;
  background-color: rgb(99, 0, 0);
  border: 5px solid gold;
  color: white;
  border-radius: 5vh;
  font-size: 2vh;
  height: 12vh;
  width: 40vh;
  cursor: pointer;
  transition-duration: 1s;
}

.marcus-aurelius-button:hover {
  border-radius: 0%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition-duration: 1s ease;
}

.pliny-button {
  background-color: white;
  font-family: "Cinzel Decorative", sans-serif;
  background-color: rgb(99, 0, 0);
  border: 5px solid gold;
  color: white;
  border-radius: 5vh;
  font-size: 2vh;
  height: 12vh;
  width: 40vh;
  cursor: help;
  transition-duration: 1s;
}

.pliny-button:hover {
  border-radius: 0%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.todo-item button {
  background-color: #ff6666;
  font-family: "Cinzel Decorative", sans-serif;
  color: white;
  border: none;
  font-size: 2vh;
  border-radius: 1em;
  padding: 5px 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: transparent;
  border-radius: 0%;
  color: black;
  border: 1px solid black;
}

.livy-button {
  background-color: white;
  font-family: "Cinzel Decorative", sans-serif;
  background-color: rgb(99, 0, 0);
  border: 5px solid gold;
  color: white;
  border-radius: 5vh;
  font-size: 2vh;
  height: 12vh;
  width: 40vh;
  cursor: pointer;
  transition-duration: 1s;
}

.livy-button:hover {
  border-radius: 0%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition-duration: 1s ease;
}

a:visited {
  text-decoration: none;
}
