/* Button CSS */

.timer-button {
  font-family: "Cinzel Decorative", sans-serif;
  margin: 2vh;
  height: 5vh;
  width: 10vh;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border-radius: 1em;
  transition-duration: 1s;
}

.timer-button:hover {
  border-radius: 0%;
  background-color: white;
  color: black;
}

.todo-item button {
  background-color: #ff6666;
  font-family: "Cinzel Decorative", sans-serif;
  color: white;
  border: none;
  font-size: 2vh;
  border-radius: 1em;
  padding: 5px 10px;
  transition-duration: 1s;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: transparent;
  border-radius: 0%;
  color: black;
  border: 1px solid black;
}
