@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.homepage {
  font-family: "Cinzel Decorative", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1709829843/serenitas/djambo1990_51954_a_Roman_bathhouse_where_the_artistry_of_ancien_f1e4717b-e8fe-4065-8481-6f93e4487aed_yiur0e.png");
  background-size: cover;
  background-position: center;
}

.homepage-salute-container {
  border: 2px solid gold;
  background-color: rgb(99, 0, 0);
  border-radius: 1.5vh;
  height: 8vh;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gold;
}

.timer-container {
  margin-top: 5vh;
  background-color: white;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  opacity: 0.7;
}

.timer-numbers {
  font-size: 15vh;
}

.serenitas-logo {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  height: 6vh;
  width: 5vh;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.homepage-features {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border-radius: 5vh;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  position: fixed;
  top: 10vh;
  right: 10vh;
  height: 40vh;
}
