.open-button {
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1708599341/portfolio/1-removebg-preview_jtzf52.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  right: 10vh;
  width: 10vh;
}

#mail-button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  place-items: center;
  border: none;
}

.mail-button-image {
  height: 12vh;
  width: 100%;
}
