.mail-button-container {
  height: 5vw;
  width: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1712126279/serenitas/djambo1990_51954_an_envelope_the_way_Jacques_Louis_David_would__de60a7e5-1a9f-4a5a-8118-7b651d54e0b7_bx6xzl-removebg-preview_fo0iik.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}

.mail-button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}
