.stats-container {
  border-radius: 5vh;
  background-color: transparent;
  background-image: url("https://res.cloudinary.com/dgwvbd9ki/image/upload/v1712126142/serenitas/djambo1990_51954_an_abacus_painted_in_the_style_of_Jacques_Loui_46c3099a-cf86-437f-b5da-a810de12f2f8-removebg-preview_wkvcyd.png");
  background-size: cover;
  width: 100px; /* Initial width */
  height: 100px; /* Initial height */
  transition: width 5s ease, height 5s ease, background-color 5s ease,
    background-image 1s ease-in; /* Adjust transition durations */
}

.stats-box {
  display: none;
  transition: 2s ease;
}

.stats-box.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
  width: 100%;
  background-color: transparent;
  border-radius: 5vh;
  cursor: pointer;
}

.list-item {
  list-style-type: none;
}

.stats-container.open {
  background-color: antiquewhite;
  background-image: none;
  width: 60vh; /* Enlarged width */
  border-radius: 5vh;
  height: 30vh; /* Enlarged height */
}
