@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Kablammo&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Peralta&family=Reem+Kufi+Fun:wght@400..700&display=swap");

.todo-list-container {
  font-family: "Cinzel Decorative", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin: 1vw;
  border-radius: 1em;
  background-color: white;
  opacity: 0.7;
  width: 25vw;
  transition: transform 1s ease;
}

.todo-list th,
.todo-list td {
  font-size: 2vh;
  padding: 1vh;
  border-bottom: 1px solid #ddd;
}

.todo-form {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.todo-form input {
  font-family: "Cinzel Decorative", sans-serif;
  height: 3vh;
  border-radius: 1vh;
  font-size: 2vh;
  text-align: center;
}

.todo-form button {
  font-family: "Cinzel Decorative", sans-serif;
  background-color: rgb(99, 0, 0);
  color: white;
  height: 3vh;
  border-radius: 1vh;
  width: 3vw;
  font-size: 2vh;
  transition-duration: 1s;
  cursor: pointer;
}
.todo-form button:hover {
  border-radius: 0;
  background-color: transparent;
}
