@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.todo-list-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin: 1vw;
  border-radius: 1em;
  background-color: white;
  opacity: 0.7;
  width: 25vw;
  transition: transform 1s ease;
}

.todo-list th,
.todo-list td {
  font-size: 2vh;
  padding: 1vh;
  border-bottom: 1px solid #ddd;
}

.todo-form {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.todo-form input {
  font-family: "Cinzel Decorative", sans-serif;
  height: 3vh;
  border-radius: 1vh;
  font-size: 2vh;
  text-align: center;
}

.todo-form button {
  font-family: "Cinzel Decorative", sans-serif;
  background-color: rgb(99, 0, 0);
  color: white;
  height: 3vh;
  border-radius: 1vh;
  width: 3vw;
  font-size: 2vh;
  transition-duration: 1s;
  cursor: pointer;
}
.todo-form button:hover {
  border-radius: 0;
  background-color: transparent;
}
